<!DOCTYPE html>
<title>Data Analysis</title>
<h1>Analysis of Data by Category</h1>
<h3>Category: {{ category }} </h3>

<head>
<style>
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
    text-align: left;
}
</style>
</head>
<body>
<table style="width:100%">
  <tr>
    <th></th>
    <th>Male</th>
    <th>Female</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><b>Number of Passengers on Board</b></td>
    <td>{{ values[0] }}</td>
    <td>{{ values[1] }}</td>
    <td>{{ values[2] }}</td>
  </tr>
  <tr>
    <td><b>Number of Survivors</b></td>
    <td>{{ values[3] }}</td>
    <td>{{ values[4] }}</td>
    <td>{{ values[5] }}</td>
  </tr>
  <tr>
    <td><b>Percentage of Passengers to Survive</b></td>
    <td>{{ values[6] }}%</td>
    <td>{{ values[7] }}%</td>
    <td>{{ values[8] }}%</td>
  </tr>
</table>
</body>
<br>
To go back, simply <a href="/Welcome">Click Here</a>
